@import url('https://fonts.googleapis.com/css?family=Google+Sans:400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  background: white !important;
  margin: 0;
}

.app-container {
  --bg: white;
  --blockly-margin: 28px 0 28px 28px;
  --demo-height: 352px;
  --font-family: 'Google Sans';
  --output-max-height: 100%;
  --output-max-width: 392px;
  --play-btn-right: 52px;
  --play-btn-top: 40px;
  --select-next-line: none;
}

@media screen and (max-width: 840px) {
  .app-container {
    --blockly-height: 100%;
    --blockly-margin: 28px 28px 0;
    --demo-height: 600px;
    --output-max-height: 180px;
    --output-max-width: 100%;
    --output-min-width: unset;
    --play-btn-right: 64px;
    --play-btn-top: 404px;
    align-items: center;
    flex-direction: column;
    padding-inline: 40px;
    --select-next-line: block;
  }
}

.app-container {
  background-color: #f8f9fa;
  border-radius: 30px;
  display: flex;
  height: var(--demo-height);
  overflow: visible;
  width: 100%;
}

#blocklyDiv {
  background: var(--bg);
  height: var(--blockly-height);
  margin: var(--blockly-margin);
  padding: 20px;
  width: 100%;
}

.blocklyToolboxDiv {
  background-color: var(--bg);
}

.blocklyTreeRow {
  height: 15px;
  line-height: 15px;
}

.blocklyTreeRowContentContainer {
  border-left: 20px;
}

.blocklyTreeIcon {
  width: 8px;
}

.blocklyTreeLabel,
select,
option {
  font-family: var(--font-family) !important;
}

#blockly-0 {
  border-left: 15px solid #d1c4e9 !important;
}

#blockly-1 {
  border-left: 15px solid #a5d6a7 !important;
}

#blockly-2 {
  border-left: 15px solid #4285f4 !important;
}

#blockly-3 {
  border-left: 15px solid #ffca28 !important;
}

#blockly-4 {
  border-left: 15px solid #4db6ac !important;
}

#blockly-5 {
  border-left: 15px solid #ffcdd2 !important;
}

#blockly-7 {
  border-left: 15px solid #ef9a9a !important;
}

#blockly-8 {
  border-left: 15px solid #d7ccc8 !important;
}

.blocklyTreeSeparator {
  border-bottom: unset;
}

.blocklyMainBackground,
.blocklyPath {
  stroke: var(--bg);
}

.blocklyText {
  fill: black !important;
  font: 400 16px var(--font-family) !important;
}

#outputDiv {
  background-color: var(--bg);
  height: var(--blockly-height);
  margin: 28px;
  max-height: var(--output-max-height);
  max-width: var(--output-max-width);
  overflow: scroll;
  padding: 20px;
  width: 100%;
}

hr {
  border: 0;
  clear: both;
  height: 1px;
}

.next-line {
  display: var(--select-next-line);
}

.play-button {
  border: 1px solid #dadce0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #1a73e8;
  cursor: pointer;
  display: inline-block;
  font: 500 14px/36px var(--font-family);
  padding: 0 16px;
  position: absolute;
  right: var(--play-btn-right);
  top: var(--play-btn-top);
}

.play-button:hover {
  background: #e8f0fe;
  border: 1px solid #d2e3fc;
}

.play-button .material-icons {
  cursor: default;
  font-size: 18px;
  height: 18px;
  margin: 0 8px 0 -4px;
  pointer-events: none;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 18px;
}

/* Prettify adds some unwanted styles - clobber them. */
#codeHolder {
  border: none;
  padding-inline: 20px;
}
