# All examples, codelabs, etc.
# ** excludes the contents without excluding the directory itself
examples/**
node_modules/**
codelabs/**
gh-pages/**

# Whitelist of specific examples that can be formatted
!examples/developer-tools
!examples/developer-tools/**

# All build artifacts, etc.
**/dist/*
**/build/*
**/node_modules/*
**/CHANGELOG.md
CHANGELOG.md
PULL_REQUEST_TEMPLATE.md

# Specific examples that are sometimes copied into plugins
plugins/dev-create/templates/sample-app/*
plugins/dev-create/templates/sample-app-ts/*

