# Examples, codelabs, etc.
examples/backpack-demo
examples/blockly-angular
examples/blockly-react
examples/blockly-rtc
examples/blockly-vue3
examples/context-menu-codelab
examples/custom-dialogs-demo
examples/custom-toolbox-codelab
examples/devsite-demo
examples/devsite-landing-demo
examples/getting-started-codelab
examples/interpreter-demo
examples/pitch-field-demo
examples/sample-app-ts
examples/theme-extension-codelab
examples/turtle-field-demo
examples/validation-and-warnings-codelab
examples/lerna.json
examples/README.md
node_modules/*
codelabs/*
gh-pages/*

# All build artifacts, etc.
**/dist/*
**/build/*
examples/blockly-svelte/public/bundle.js
**/node_modules/*
**/CHANGELOG.md
CHANGELOG.md
PULL_REQUEST_TEMPLATE.md

# Specific examples that are sometimes copied into plugins
plugins/dev-create/templates/sample-app/*
plugins/dev-create/templates/sample-app-ts/*

