:root {
  --md-dialog-container-color: white;
}

body {
  margin: 0;
}

.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#block-factory-container {
  display: flex;
  box-sizing: border-box;
  height: 80%;
  flex-grow: 1;
}

#main-workspace {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 8px;
  min-width: 500px;
}

.panel-container {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
}

.panel-container > * {
  flex-basis: 20%;
  margin: 8px;
  min-height: 100px;
}

.fit-to-size {
  flex-basis: auto;
  min-height: auto;
}

#block-preview {
  min-height: 200px;
}

pre {
  overflow: scroll;
}

.toolbar {
  width: 100%;
  height: 64px;
  padding: 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: #2bb4ca;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
}

.logo {
  height: 36px;
  border: 0;
  box-shadow: none;
  margin: 0 16px 0 0;
}

.btn {
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 3px;
  color: #3c4043;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  margin: 0 8px;
}

md-menu {
  max-height: 430px;
}

#file-upload-drop-zone {
  background-color: white;
  outline: 2px dashed #2bb4ca;
  outline-offset: -10px;
  border-radius: 8px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#file-upload-drop-zone > * {
  flex-grow: 0;
  margin: 12px 24px;
}
#file-upload-drop-zone > span {
  font-size: 48px;
}

#file-upload-drop-zone.isDragging {
  background-color: rgba(0, 0, 0, 0.1);
}

#file-label {
  font-weight: 700;
  cursor: pointer;
}

.warning-message {
  visibility: hidden;
  color: #b00020;
  text-align: center;
}

/* Hides an element visually but not from screen readers */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@media screen and (max-width: 900px) {
  #block-factory-container {
    flex-direction: column;
    overflow-y: scroll;
  }

  #main-workspace {
    flex-grow: 2;
    min-height: 400px;
  }

  #outputDiv {
    height: fit-content;
  }
}
