body {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: calc(100% - 80px);
}

h1 {
  text-align: center;
}

td {
  width: 50%;
}

#right_side {
  height: 50%;
  width: 100%;
  font-family: sans-serif;
  overflow: auto;
}
#code_content {
  height: 50%;
  width: 100%;
  overflow: auto;
}

#blocklyDiv {
  height: 100%;
  width: 100%;
}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
  list-style-type: decimal !important;
}

nav {
  background-color: white;
  height: 80px;
  display: flex;
  align-items: center;
}

nav * {
  display: inline;
}

nav li {
  margin: 20px;
}

.nextBtn {
  display:inline-block;
  padding:0.46em 1.6em;
  border:0.1em solid #000000;
  margin:0 0.2em 0.2em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-size: 1.2em;
  font-weight:400;
  color:#000000;
  background-color:#FFFFFF;
  text-align:center;
}
