.workspaceSearchContainer{
  display: flex;
  justify-content: flex-end;
  padding: .25em;
}

.workspaceSearchBar {
  position: absolute;
  z-index: 70;
  right: 0px;
  background: white;
  border: solid black 1px;
  box-shadow: 5px 5px lightgrey;
}
