<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ page.packageName | append: ' demo' }}</title>
  <link rel="stylesheet" href="{{ 'css/slate.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ 'css/custom.css' | relative_url }}" />

</head>

<body>
  <nav>
    <span class="pluginName">{{ page.packageName | append: ': ' | append: page.description }}</span>
    <a href="../README" class="button1">View readme</a>
    <a href="{{ 'https://github.com/google/blockly-samples/blob/master/'
      | append: page.dir | remove: '/test/' | append: '/src' }}" class="button1">View code</a>
    <a href="{{ 'https://www.npmjs.com/package/' | append: page.packageName }}" class="button1">View on npm</a>
    <a href="/blockly-samples/index.html" class="button1">Back to index</a>
  </nav>
  <section>
    {{ content }}
  </section>
</body>
{% include footer.html %}

</html>
