body {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: calc(100% - 80px);
}

h1 {
  text-align: center;
}

td {
  width: 50%;
}

#right_side {
  height: 50%;
  width: 100%;
  font-family: sans-serif;
  overflow: auto;
}
#code_content {
  height: 50%;
  width: 100%;
  overflow: auto;
}

#blocklyDiv {
  height: 100%;
  width: 100%;
}

li.oldStep {
 opacity: 65%;
}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

li.oldStep > code {
  background: none;
}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
  list-style-type: decimal !important;
}

nav {
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
}

nav * {
    display: inline;
}

nav li {
    margin: 20px;
}
/*
nav li a {
    color: black;
    text-decoration: none;
}
*/
